{% extends 'base.html' %}
{% load static %}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
    <link rel="stylesheet" href="{% static 'chat/css/room.css' %}">
</head>


{% block content %}

    <div class="row">
        <div class="col-sm-12">
            <div id="chat-log" class="chat-message">
            </div>
            <footer class="fixed-bottom text-right mx-4" style="bottom: 100px; right: 100px">
                <input id="chat-message-input" class="input" type="text" size="100"/>
                <input id="chat-message-submit" type="button" value="Send"/>
            </footer>
        </div>
    </div>
        

<script>
    var roomName = {{ room_name_json }};
    var chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/chat/' + roomName + '/');
    chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        var message = data['message'];
        var info = document.getElementById('chat-log');
        var pNode = document.createElement('p');
        var textNode = document.createTextNode(message);
        pNode.appendChild(textNode);
        info.appendChild(pNode);
    };
    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };
    document.querySelector('#chat-message-input').focus();
    // document.querySelector('#chat-message-input').onkeyup = function(e) {
    //     if (e.keyCode === 13) {  // enter, return
    //         document.querySelector('#chat-message-submit').click();
    //     }
    // };
    document.querySelector('#chat-message-submit').onclick = function(e) {
        var messageInputDom = document.querySelector('#chat-message-input');
        var message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'message': message
        }));
        messageInputDom.value = '';
    };
</script>
{% endblock %}
</html>
