/* ボタンのスタイル */
.button {
    width: 100%;
    height: 40px;
    border: 1px solid #b97ebb;
    border-radius: 5px;
    text-align: center;
}
/* マウスオーバー時のカラー */
.button:hover {
    background-color: #b97ebb;
} 
/* リンク領域のスタイル */
.button-a {
    display: block;
    padding: 7px 0;
    text-align: center;
}
/* マウスホバー時のカラー*/
.button-a:hover {
    color: #fff;
}